.project_sect {
    background-image: linear-gradient(180deg, rgb(17, 11, 32), rgb(27, 17, 31));
    margin-top: 300px;
}

.card_intro {
    padding-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}

.card_intro_flex {
    min-height: 705px;
    background-image: linear-gradient(43deg, rgb(41, 15, 41), rgb(21, 5, 36), rgb(85, 51, 13));
    background-size: 200% 100%;
    background-position: left center;
    display: flex;
    border-radius: 5px;
    padding: 15px;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 73%;
    justify-content: center;
    color: white;
    font-size: 1.7em;
    font-family: poppins, Arial, Helvetica, sans-serif;
    transition:  0.36s ease;
}

.card_intro_flex:hover {
    scale: 1.02;
    background-position: right center;
}

.card_intro_flex:hover .font_orange {
    color: rgb(255, 208, 0);
}

.aten {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 90%;
    height: 83%;
    align-items: center;
}

.box_info  {
    min-height: 110%;
    display: flex;
    flex-flow: column nowrap;
}

.box_info > header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;
}

.box_info > header > div {
    display: flex;
    font-family: "Tektur", sans-serif;
    flex-flow: row nowrap;
    gap: 20px;
}

.main_title_card {
    font-family: "Audiowide", sans-serif; 
    letter-spacing: 1.3px;
    font-size: 3rem;
    margin-bottom: 40px;
}

.font_orange {
    border-bottom: 3px solid yellow;
    border-radius: 2px;
    color: rgb(255, 166, 0);
}

.context_paragraph {
    display: flex;
    flex-flow: row wrap;
    text-align: left;
}

.context_paragraph  p {
    font-size: 1.5rem;
    font-family: "Tektur", sans-serif; 
}

.box_info > header > div > h3 {
    font-size: 1.3rem;
}

.img_older_pc {
    max-width: 90%;
    margin-right: -28%;
    object-fit: cover;
}

.img_older_pc img {
    width: 100%;
    border-radius: 6px;
}

.sect_view_projects {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-flow: row wrap;
    gap: 40px;
    max-width: 85%;
    margin: 0 auto;
    padding: 0 10px;
}

@media screen and (max-width: 1024px) {
    .project_sect {
        margin-top: 50px;
    }

    .card_intro_flex {
        border-radius: 0;
        min-width: 100%;
        min-height: 770px;
    }

    .aten {
        display: flex;
        height: auto;
        flex-flow: column nowrap;
    }
    
    .img_older_pc {
        margin-right: 0;
        max-width: 100%;
    }

    .sect_view_projects {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
}