
#main_header {
    font-family: "Pixelify Sans", sans-serif, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 0 20px;
    background-color: rgba(70, 44, 100, 0.4);
    z-index: 100;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;    
}

.nick-name {
    color: white;
    font-family: "Google Sans", sans-serif;
    font-size: 2rem;
}

.scroller_indicator {
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 41.5%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


#scroll_wellcome {
    font-size: 3.38rem;
    color: rgb(220, 202, 250);
    text-shadow: 3px 8px 10px rgb(107, 93, 231);
    font-family: "Pixelify Sans", sans-serif, Arial, Helvetica, sans-serif;
}

.change-bg {
    cursor: pointer;
    transition: ease 0.23s;
    
    &:hover {
        scale: 1.15;
    }
}

.menu_btn {
    cursor: pointer;
    display: block;
}

.arrows {
    opacity: 650%;
}

#main_navbar {
    display: none;
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: rgba(28, 27, 34, 0.377);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

#main_navbar.open {
    display: block; 
}

#main_navbar > #ul-list > .contact_btn {
    
    letter-spacing: 1px;
    font-size: 1.34rem;
    border-radius: 11px;
    border: 1px solid rgba(255, 255, 255, 0.281);
    background-color: rgb(189, 120, 42); 
    transition: ease 0.25s;

    &:hover {
        scale: 1.05;
    }
}

#ul-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    list-style: none;
}

#main_navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    width: 33%;
    transition: 0.23s;
    text-align: center;
    border-bottom: 2px solid rgb(152, 152, 233);
    border-radius: 10px;

    &:hover {
        border-bottom: 2px solid  blue;
    }
   
}






@media screen and (min-width: 1024px) {
    .menu_btn {
        display: none;
    }

    #main_navbar {
        display: block !important;
        position: static;
        width: auto;
        background: none;
    }

    #ul-list {
        flex-direction: row;
        padding: 0;
    }

    #main_navbar a {
        width: auto;
        border-radius: 4px;
        background: none;
        transition: ease 0.25s;
    }

    #main_navbar a:hover {
        background-color: royalblue;
        border-bottom: 2px solid  rgb(140, 140, 228);
        border-radius: 15px;
    }
}