#main_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: transparent;
    height: 100px;
}

#nick-name {
    font-family: 2.2rem;
}

#nav-global {
    display: flex;
}

#nav-global > ul > li {
    list-style-type: none;
}

#nav-global > ul > li > a {
    text-decoration: none;
    cursor: pointer;
}


.navbar-mobile-style {
    flex-flow: column nowrap;
    
    ul {
        flex-flow: column nowrap;
    }
}
.navbar-desktop-style {
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;

    ul {
        display: flex;
        flex-flow: row nowrap;
        gap: 10%;
    }
}

