.about_me {
    min-height: 1000px;
    width: 100%;
    padding-top: 160px;

}

.apresentation {
    text-align: center;
}

.gsap_wia {
    font-family: poppins, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3.5rem;
}

.identity {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
    width: 100%;

}

.video_pc, .robot, .old_pc {
    border-radius: 10px;
    transition: ease 0.23s;
}


.video_pc {
    max-width: 43%;
    min-width: 39%;
}

.robot {
    min-width: 35%;
    max-width: 40%;
}

.old_pc {
    margin-top: 70px;
}

.keyboard_pixel {
    max-width: 25%;
    position:  absolute;
    left: 11.3%;
    top: 150%;
    transform: translate(-50%, -50%);
    transition: ease 0.3s;
}

.keyboard_pixel:hover {
    scale: 1.03;
}

.pc_pixel {
    max-width: 14%;
    position: absolute;
    right: 2%;
    top: 150%;
}


@media screen and (max-width: 978px) {
    .robot {
        min-width: 80%;
    }

    .video_pc {
        margin-top: 60px;
        min-width: 100%;
    }

    .keyboard_pixel {
        display: none;
    }
}
